<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames><version>[ignore]</version></fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="org.apache.cxf.services" level="WARN"/>
    <logger name="org.mitre.openid.connect.client.OIDCAuthenticationFilter" level="INFO"/>
    <logger name="org.springframework.oxm.jaxb.Jaxb2Marshaller" level="WARN"/>
    <logger name="no.nav.melosys.frontendlogg" level="WARN"/>
    <logger name="no.nav.melosys.integrasjon.felles.RestClientLoggingFilter" level="DEBUG"/>
    <logger name="no.nav.melosys.saksflyt.agent.jfr.VurderInngangsvilkaar" level="DEBUG"/>
    <logger name="no.nav.melosys.service.ProsessinstansService" level="DEBUG"/>
    <logger name="no.nav.melosys.sikkerhet.abac" level="WARN"/>
</included>