<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="no.nav.melosys.integrasjon.felles.RestClientLoggingFilter" level="DEBUG"/>
    <logger name="org.apache.cxf.services" level="WARN"/>
    <logger name="org.springframework.oxm.jaxb.Jaxb2Marshaller" level="WARN"/>
    <logger name="no.nav.melosys.frontendlogg" level="TRACE"/>

    <logger name="org.springframework.orm.jpa" level="WARN" />    
    <logger name="org.springframework.transaction" level="WARN" />
    <logger name="org.springframework.transaction.interceptor" level="WARN" />    
    <logger name="org.hibernate.SQL" level="WARN" />    
    

</included>