<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames><version>[ignore]</version></fieldNames>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.vault" level="WARN"/>
</included>
