name: Maven Test

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest-8-cores
    permissions:
      pull-requests: write
      checks: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: JDK
      uses: actions/setup-java@v5
      with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
    - name: Build and test
      run: mvn verify
    - name: Integration Test Report
      uses: mikepenz/action-junit-report@v6
      if: success() || failure()
      with:
        check_name: 'Integration Tests'
        report_paths: '**/target/failsafe-reports/TEST-*.xml'
    - name: Unit Test Report
      uses: mikepenz/action-junit-report@v6
      if: success() || failure()
      with:
        check_name: 'Unit Tests'
        report_paths: '**/target/surefire-reports/TEST-*.xml'
